.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #090909;
}
.loading {
width: auto;
height: auto;
  justify-content: center;
  align-items: center;
    
    color: orange;
    font-size: 1em;
    font-family: Arial, sans-serif;
}