@font-face {
    font-family: Medium;
    src: url("/fonts/Medium.otf");
}
.grid-container{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
}
nav{
    visibility: hidden;
    font-size: large;
    position: absolute;
    top: 10px;
    right: 30px;
    font-family: "Medium";
    color: #656565;
    background-color: transparent;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FF6B00;
}
.portfolio{
    color: #FF6B00;
}
.contact{
    text-align: right;
}
.marquee-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
   
}
.marquee-container-top{
    top:0;
    bottom:auto
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
